{% extends "base.html" %}
{% block title %}Home - My Portfolio{% endblock %}

{% block content %}
<section class="hero fade-in">
  <div class="hero-text">
    <h1>Hi, My name is Ari Freilich</h1>
    <p>I’m a Python developer with a focus on building clean, maintainable solutions — from scripts to web apps.</p>
    <div class="button-wrapper">
      <button class="button" onclick="location.href='{{ url_for('show_projects') }}'">Check Out My Work</button>
    </div>
  </div>
  <div class="hero-image">
    <img src="{{ url_for('static', filename='images/developer.jpeg') }}" alt="Coding Illustration">
  </div>
</section>
{% endblock %}
